*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    width: 1300px;
    height: 540px;
    margin: auto;
    background: white;
    margin: 50px 20px;
    border: 2px solid black;
    border-radius: 7px;
}
aside {
    background: #071772;
    width: 35%;
    overflow: hidden;
}
.img-aside > h3 {
    margin: 10px 0px 0px 105px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
.img-aside {
    margin-top: 60%;
}
.img-aside img {
    border: 10px solid #3f51b5;
    border-radius: 5rem;
    width: 150px;
    height: 150px;
    margin-left: 25%;
}
h1 {
    font-size: 50px;
}

.container-main {
    margin-top: 14%;
    padding-left: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}
.header-main {
    margin-bottom: 80px;
}
span {
    color: red;
}
.footer-main {
    margin-top: 50px;
}
.footer-main a {
    width: 40px;
    height: 40px;
    margin: 0 20px;
    text-decoration: none;
}
.footer-main a img {
    width: 40px;
    height: 40px;
}
